.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 7rem;
    text-align: center;
    padding: 0 15rem 0 8rem;
    border-bottom: 1px solid lightgray;
}


.project-name {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 12rem;
    color: #5C60F5;
    background-clip: text;
    
}

.header-mab{
    font-size: 1.4rem;
    color: #393939;
    font-weight: 500;
}

.mab-amount{
    margin-left: 1rem;
    font-size: 1.8rem;
}