.addDummyRecordBtn {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.statementAnalysisBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}




.project-name {

    position: absolute;
    top:2rem;

    left: 50%;
    transform: translate(-50% );

    font-size: 3.5rem;
    font-weight: 500;
    margin-right: 12rem;
    color: #5C60F5;
    background-clip: text;

}


.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.statement-analysis {
    padding: 10px 20px;
    background-color: #5c60f5;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    width: min-content;
    height: 4rem;
    margin-right: 3rem;

    white-space: nowrap;
    overflow: hidden;

}