table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}


.table-head>* {
    font-weight: 600;
    font-size: 1.7rem;
    color: #131313;
    margin-bottom: 1.8rem;
    border-bottom: 1px solid gray;
}


.table-column>* {
    font-weight: 500;
    font-size: 1.4rem;
    color: #3b3b3b;
    margin-bottom: 1.8rem;
}

.card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #16192c;
    text-align: left;
    margin-bottom: 2.5rem;

}


@media (max-width: 700px) {

    .card{
        padding:1.1rem;
        margin: 1rem 0;
        width: 90%;
        margin-top: 4rem;
    }

    .card-title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }


    .table-head{
        width: 100%;
    }

    .table-column{
        width: 100%;
    }

    .table-column>*,
    .table-head>* {
        font-size: 12px;
        padding: 3px;
        width: max-content;
    }

}